<p id="notice"><%= notice %></p>

<p>
  <strong>Raw content:</strong>
  <%= @message.raw_content %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @message.uuid %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @message.event_name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @message.published_at %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @message.data %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
