<!DOCTYPE html>
<html>
  <head>
    <title>GorgSoaSupervisionRails5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%- if current_user %>
      <p>Connecté en tant que <%= current_user.email%> - <%= link_to('Deconnexion', destroy_user_session_path, :method => :delete) %>  <p>
    <%- end %>
    <%= yield %>
    <%= javascript_include_tag 'application'%>
  </body>
</html>
